* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #1e1d22;
}

footer {
  border-top: 2px solid #ffffff;
  padding: 32px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#maid {
  color: #777777;
}

#hero {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 32px 0px;
  padding: 0 68px;
}

header {
  /* padding: 32px 0; */
  padding-top: 32px;
  padding-bottom: 18px;
  display: flex;
  justify-content: center;
}

#name {
  display: none;
}

.input {
  width: 420px;
  height: 50px;
  padding-left: 16px;

  background: #29282f;
  border-radius: 8px;
  border: none;

  outline: none;

  font-size: 18px;

  box-shadow: 2px 6px 12px rgba(20, 18, 31, 0.08),
    2px 2px 8px rgba(20, 18, 31, 0.16), 0px 4px 6px rgba(20, 18, 31, 0.25);
}

.button {
  width: 420px;
  height: 50px;

  background: linear-gradient(
    89.96deg,
    #f64f59 -16.71%,
    #c471ed 57.88%,
    #12c2e9 127.08%
  );

  border: none;

  outline: none;

  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;

  box-shadow: 2px 6px 12px rgba(20, 18, 31, 0.08),
    2px 2px 8px rgba(20, 18, 31, 0.16), 0px 4px 6px rgba(20, 18, 31, 0.25);
  border-radius: 25px;

  transition: 200ms ease-in-out;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
}

#cta {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#cta-title {
  font-size: 48px;
}

#cta-description {
  margin-top: 16px;
  margin-bottom: 56px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#nameInput {
  margin-bottom: 16px;
}

#emailInput {
  margin-bottom: 56px;
}

#bfs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

#bfsContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-size: 120px;
  text-transform: uppercase;
  line-height: 0.95;

  user-select: none;
}

#friday {
  color: #1e1d22;
  text-shadow: 0px 0px 8px #ffffff;
}

#sale {
  color: #c62447;
  font-size: 160px;
  font-family: "Parisienne", cursive;
  position: absolute;
  top: 125px;
  left: 225px;

  /* animation */
  animation: pulse 3s infinite;

  user-select: none;
}

@keyframes pulse {
  0% {
    transform: scale(1) rotateZ(-10deg);
  }

  50% {
    transform: scale(1.2) rotateZ(-10deg);
  }

  100% {
    transform: scale(1) rotateZ(-10deg);
  }
}

#countdown {
  margin-top: 120px;
  padding: 16px 32px;

  background: #29282f;
  font-weight: 700;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  box-shadow: 2px 6px 12px rgba(20, 18, 31, 0.08),
    2px 2px 8px rgba(20, 18, 31, 0.16), 0px 4px 6px rgba(20, 18, 31, 0.25);
  border-radius: 16px;
}

.countdownTitle {
  font-size: 32px;
}

.countdownSubtitle {
  font-weight: 500;
}

.countdownContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.divider {
  width: 2px;
  height: 32px;
  margin: 0px 24px;
  background: rgba(242, 242, 242, 0.2);
  border-radius: 16px;
}

#arrow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  user-select: none;

  animation: bouncy 2s infinite;
}

#arrowDown {
  margin-top: 8px;
  margin-bottom: 72px;
}

#arrowText {
  padding-top: 8px;
}

@keyframes bouncy {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-16px);
  }
  60% {
    transform: translateY(-8px);
  }
}

#plans {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 64px;
}

#dozeMeses {
  font-weight: 700;
}

#dozeMesesB {
  color: #1e1d22;
  font-weight: 700;
}

#cross {
  width: 350px;
  height: 500px;
  padding-left: 24px;
  padding-right: 16px;

  border: 2px solid #ffffff;
  box-sizing: border-box;

  border-radius: 16px;
  filter: drop-shadow(2px 6px 12px rgba(20, 18, 31, 0.08)),
    drop-shadow(2px 2px 8px rgba(20, 18, 31, 0.16)),
    drop-shadow(0px 4px 6px rgba(20, 18, 31, 0.25));
}

#crossUp {
  padding-top: 28px;
  padding-bottom: 91px;
}

#crossTitle {
  font-size: 32px;
  text-transform: uppercase;
}

#crossDescription {
  font-size: 16px;
  color: #777777;
}

#crossOldPrice {
  font-size: 32px;
  text-decoration: line-through;
  color: #777777;
}

#crossNewPrice {
  font-size: 52px;
}

.crossArg {
  font-size: 16px;
  padding-bottom: 8px;
}

#crossMiddle {
  padding-bottom: 42px;
}

#crossHik {
  width: 380px;
  height: 600px;
  margin-left: 16px;
  margin-right: 16px;

  background: #ffffff;

  border-radius: 16px;
  box-shadow: 2px 6px 12px rgba(20, 18, 31, 0.08),
    2px 2px 8px rgba(20, 18, 31, 0.16), 0px 4px 6px rgba(20, 18, 31, 0.25);
}

#crossHikUp {
  padding-top: 48px;
  padding-bottom: 91px;
  padding-left: 20px;
  padding-right: 16px;
}

#crossHikTitle {
  color: #1e1d22;
  font-size: 32px;
  text-transform: uppercase;
}

#crossHikDescription {
  font-size: 16px;
  color: #777777;
}

#crossHikOldPrice {
  font-size: 32px;
  text-decoration: line-through;
  color: #777777;
}

#crossHikNewPrice {
  color: #1e1d22;
  font-size: 52px;
}

.crossHikArg {
  color: #1e1d22;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 8px;
}

#crossHikMiddle {
  padding-left: 20px;
  padding-right: 16px;
  padding-bottom: 42px;
}

#crossHikObs {
  font-size: 12px;
  color: #777777;
  padding-left: 20px;
  padding-right: 16px;
  padding-top: 30px;
}

#hik {
  width: 350px;
  height: 500px;
  padding-left: 24px;
  padding-right: 16px;

  border: 2px solid #ffffff;
  box-sizing: border-box;

  border-radius: 16px;
  filter: drop-shadow(2px 6px 12px rgba(20, 18, 31, 0.08)),
    drop-shadow(2px 2px 8px rgba(20, 18, 31, 0.16)),
    drop-shadow(0px 4px 6px rgba(20, 18, 31, 0.25));
}

#hikUp {
  padding-top: 28px;
  padding-bottom: 91px;
}

#hikTitle {
  font-size: 32px;
  text-transform: uppercase;
}

#hikDescription {
  font-size: 16px;
  color: #777777;
}

#hikOldPrice {
  font-size: 32px;
  text-decoration: line-through;
  color: #777777;
}

#hikNewPrice {
  font-size: 52px;
}

.hikArg {
  font-size: 16px;
  padding-bottom: 8px;
}

#hikMiddle {
  padding-bottom: 42px;
}

@media (max-width: 1150px) {
  #hero {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  #cta {
    margin-top: 40px;
    align-items: center;
  }

  #cta-title,
  #cta-description {
    text-align: center;
  }

  #arrow {
    margin-top: 32px;
  }

  #arrowDown {
    margin-bottom: 32px;
  }

  #plans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #crossHik {
    margin: 40px 0;
  }
}

@media (max-width: 640px) {
  #hero {
    padding: 0 32px;
  }

  #cta,
  form,
  #bfsContainer {
    width: 100%;
  }

  #cta-title {
    font-size: 30px;
  }

  .input,
  .button {
    width: 100%;
  }

  .poppins {
    font-size: 72px;
  }

  #sale {
    font-size: 90px;
    top: 65px;
    left: 160px;
  }

  #countdown {
    width: 100%;
    margin-top: 60px;
  }
}

@media (max-width: 600px) {
  .countdownTitle {
    font-size: 24px;
  }

  .countdownSubtitle {
    font-size: 14px;
  }

  .divider {
    margin: 0 12px;
  }

  #cross,
  #hik,
  #crossHik {
    width: 80%;
    height: auto;
    padding-bottom: 32px;
  }

  #crossUp,
  #crossHikUp,
  #hikUp {
    padding-bottom: 60px;
  }
}

#author {
  margin-left: 5px;
}
